<section class="webmentions" aria-labelledby="webmentions__heading">
    {%- assign filtered_webmentions = webmentions_data | webmentionsForUrl: page.url -%}

    <template id="webmention_template">
        <div class="webmention webmention-new" data-id="0">
            <div class="webmention__author">
                <div class="webmention__author__photo"></div>
                <div class="webmention__author__name"></div>
                <div class="webmention__author__link"></div>
            </div>
            <time class="webmention__date" data-received="0" datetime="0"></time>
            <div class="webmention__content"></div>
            <a class="webmention__link">Link to Webmention ()</a>
            <div class="webmention__meta">
                <div class="webmention__source">
                    <i class="fa-brands" aria-describedby="webmention-source-0" tabindex="0"></i>
                    <div id="webmention-source-0" role="tooltip">Action</div>
                </div>
                <div class="webmention__type">
                    <i class="fa-solid" aria-describedby="webmention-type-0" tabindex="0"></i>
                    <div id="webmention-type-0" role="tooltip">wm-property</div>
                </div>
            </div>
        </div>
    </template>

    <h2 class="webmentions__heading" id="webmentions__heading">Webmentions</h1>

    {% for webmention in filtered_webmentions %}
        <div class="webmention" data-id="{{ webmention.id }}">
            <div class="webmention__author">
                <div class="webmention__author__photo">
                    {% if webmention.author_photo -%}
                        <a href="{{ webmention.author_photo }}">
                            <img alt="{{ webmention.author_name }} profile photo" src="{{ webmention.author_photo }}">
                        </a>
                    {%- endif %}
                </div>

                <div class="webmention__author__name">
                    {{ webmention.author_name }}
                </div>

                <div class="webmention__author__link">
                    <a href="{{ webmention.author_url }}">{{ webmention.author_url }}</a>
                </div>
            </div>

            <time class="webmention__date"
                data-received="{{ webmention.received }}"
                datetime="{{ webmention.published }}"
            >{% formatted_datetime webmention.published %}</time>

            <div class="webmention__content">
                {{ webmention.content }}
            </div>

            <a class="webmention__link" href="{{ webmention.url }}"
            >Link to Webmention ({{ webmention.domain }})</a>

            <div class="webmention__meta">
                <div class="webmention__source {{ webmention.source_site }} {{ webmention.source_action }}">
                    <i class="{{ webmention.source_icon_class }}"
                        aria-describedby="webmention-source-{{ webmention.id }}"
                        tabindex="0"
                    >
                        {%- if webmention.source_domain != 'brid.gy' -%}
                            <img alt="Webmention icon" src="/images/webmention-logo.svg">
                        {%- endif -%}
                    </i>
                    <div id="webmention-source-{{ webmention_id }}" role="tooltip">
                        {{ webmention.source_site | capitalize }}
                    </div>
                </div>

                <div class="webmention__type {{ webmention.type }}">
                    <i class="{{ webmention.type_icon_class }}"
                        aria-describedby="webmention-type-{{ webmention.id }}"
                        tabindex="0"
                    ></i>

                    <div id="webmention-type-{{ webmention.id }}" role="tooltip">
                        {{ webmention.type }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>