---
title: Blog History
page_class: history
tags: blog

pagination:
    data: collections.post
    size: 3
    alias: posts

permalink: "/blog/history/{{ pagination.pageNumber | plus: 1 }}/index.html"
---
<h1>Blog History Page {{ pagination.pageNumber | plus: 1 }}</h1>

<div class="h-feed">
    {%- for post in posts -%}
        <article class="collections-post h-entry">
            {%- if post.data.excerpt -%}
                <h1 class="collections-post__title p-name">
                    <a class="u-url" href="{{ post.url }}">{{ post.data.title }}</a>
                </h1>
                <time class="collections-post__date dt-published" datetime="{% iso_date page.date %}">{%- formatted_date post.data.page.date -%}</time>
                <div class="collections-post__excerpt p-summary">{{ post.data.excerpt }}</div>
                <a class="collections-post__readmore" href="{{ post.url }}">Read more...</a>
            {%- else -%}
                <div class="collections-post__content">{{ post.content }}</div>
            {%- endif -%}
        </article>
    {%- endfor %}
</div>

{%- for entry in pagination.pages -%}
    {%- assign page_index = forloop.index -%}

    {% # Identify the indexes of the current page and adjacent pages for the pagination %}
    {%- if pagination.hrefs[forloop.index0] == page.url %}
        {%- assign before = page_index | minus: 1 -%}
        {%- assign after = page_index | plus: 1 -%}
        {%- assign current_page_index = page_index -%}
    {%- endif %}

{%- endfor -%}

<nav class="blog-history-nav">
    <h3 class="blog-history-nav__title">Blog History Pages</h3>
    <div class="blog-history-nav__caption">On page {{ current_page_index }} of {{ pagination.pages.length }}</div>

    {% # Only show links for the current page, pages adjacent to the current page, the first page, and the last page %}
    <ol class="blog-history-nav__list" role="list">
        {%- if before > 1 -%}
            <li class="blog-history-nav__item">
                <a href="{{ pagination.href.first }}">1</a>
            </li>

            {% # Show an ellipsis to indicate when we've skipped some pages near the beginning of the navigation. %}
            {%- if before > 2 -%}
                <li class="blog-history-nav__ellipsis">...</li>
            {%- endif -%}
        {%- endif -%}

        {% # Show links for the current page and its two adjacent pages %}
        {%- for entry in pagination.pages -%}
            {% assign url = pagination.hrefs[forloop.index0] %}
            {% assign pagenum = forloop.index -%}
            {%- if forloop.index >= before and forloop.index <= after -%}
                <li class="blog-history-nav__item {% if page.url == url %}current{% endif %}">
                    <a href="{{ url }}" {% if page.url == url %} aria-current="page"{% endif %}>{{ pagenum }}</a>
                </li>
            {%- endif -%}
        {%- endfor %}

        {%- if after < pagination.pages.size -%}
            {% # Show an ellipsis to indicate when we've skipped some pages near the end of the navigation %}
            {%- assign penultimate = pagination.pages.size | minus: 1 -%}
            {%- if after < penultimate -%}
                <li class="blog-history-nav__ellipsis">...</li>
            {%- endif -%}
            <li class="blog-history-nav__item">
                <a href="{{ pagination.href.last }}">{{ pagination.pages.size }}</a>
            </li>
        {%- endif -%}
    </ol>

    <div class="blog-history-nav__jump">
        <label for="blog-history-nav__jump__page">Jump to </label>
        <select name="page" class="blog-history-nav__jump__page" id="blog-history-nav__jump__page">
            <option value="">Choose a Page</option>
            {%- for entry in pagination.pages -%}
                <option value="{{ forloop.index }}">Page {{ forloop.index }}</option>
            {%- endfor -%}
        </select>
        <a class="blog-history-nav__jump__go" href="/blog/history/{{ current_page_index }}">Go</a>
    </div>
</nav>